/* CarReturnForm.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-checkbox label {
  margin-right: 10px;
}

.label-checkbox input[type='checkbox'] {
  margin-right: 10px;
}

.label-checkbox .acknowledge {
  margin-left: auto;
}

.error {
  color: red;
  margin-top: 10px;
}
