.catalog-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  position: relative;
}
table {
  align-items: center;
}
.vehicle-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  min-width: 600px;
  height: fit-content;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding-bottom: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vehicle-image-placeholder {
  width: 150px;
  height: 100px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicle-image-placeholder-text {
  font-size: 14px;
  color: #909090;
}

.vehicle-info {
  flex: 1;
  padding-left: 16px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 0;
  font-size: 16px;
  color: #909090;
}

.sorting-section {
  min-height: 2rem;
  width: auto;
  padding-inline-start: 40px;
  padding-top: 0.5rem;
}
.sorting-section button {
  margin-left: 2rem;
  min-width: 6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.sorting-section button:focus {
  background-color: #cccccc;
}
.sorting-section button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#sorting-menu {
  align-items: flex-start;
}

.select-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: fit-content;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.select-button:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-35%, -50%);
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  z-index: 1000;
  min-height: 400px;
  width: 400px;
  border-radius: 3%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.021);
}
.availability-status {
  color: black;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

#delete-vehicle-button {
  background-color: #7e0000;
  color: #e0e0e0;
  margin-left: 10px;
}
#delete-vehicle-button:hover {
  background-color: #470000;
}
#modify-vehicle-button {
  background-color: #004949;
  color: #e0e0e0;
  margin-left: 10px;
}
#modify-vehicle-button:hover {
  background-color: #002e2e;
}
/* New Vehicle Form */
.create-list-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.create-vehicle-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  position: relative;
}
label,
input {
  display: block;
  margin-bottom: 0px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form button {
  background: var(--primary-color);

  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #0056b3;
}
form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
form button:disabled:hover {
  background-color: #cccccc;
}
div.error {
  color: red;
  margin-bottom: 10px;
}
