.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:560px;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Homebg.jpg');  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-title {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 50px;
}

.home-description {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 600px;
}

.home-button {
  padding: 0.5rem 2rem;
  margin-top:180px;
  background-color: #ffffff62;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #000000;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 70px;

  
}

.search-bar p {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 400px;
  opacity: 0.80;
}

.search-bar button {
  padding: 8px 16px; 
  margin-top: 5px;
  background-color: #ffffff62;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin-bottom: 25px;
}

.search-bar button:hover {
  background-color: #000000;
}

