
.container-1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .fetched-reservation {
    margin-top: 20px;
  }
  
  .checkout-info-container {
    margin-top: 20px;
  }
  
  .checkout-info-container form {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-info-container label {
    margin-bottom: 10px;
  }
  
  .checkout-info-container select,
  .checkout-info-container input[type='text'] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkout-info-container button[type='submit'] {
    background-color: #f0ad4e; /* Change button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-info-container button[type='submit']:hover {
    background-color: #eea236; /* Change button hover color */
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  