.filter-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-form label {
    text-align: left;
    padding-right: 60px;
  }

  label{
    font-weight:normal;
    }
    input{
        color:rgb(29, 32, 32);
    }

  
  .types-checkboxes,
  .categories-checkboxes,
  .location-radios {
    display: flex;
    align-items: center;
  }
  
  .location-radios label {
    margin-right: 10px;
  }
  
  .filter-row {
    display: flex;
    flex-direction: column;
  }
  
  button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }