.login-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px 100px 20px; 

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  
  .login-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .role-options {
    margin-bottom: 20px;
    display: flex;
  }
  
  .role-options p {
    margin-bottom: 10px;
  }
  
  .role-options button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color:#999;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .role-options button.selected {
    text-decoration: underline;
    color: #007bff;
  }
  
  
  .credentials input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .credentials input[type="text"],
  .credentials input[type="password"] {
    width: calc(100% - 22px);
  }
  
  .credentials input[type="text"]::placeholder,
  .credentials input[type="password"]::placeholder {
    color: #999;
  }
  
  .credentials button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .credentials button:hover {
    background-color: #218838;
  }
  
  .logo2 {
    width: 180px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px;
    
  }

  button {
    padding: 8px 16px;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    margin-bottom: 25px;
  }

  button:disabled {
    padding: 8px 16px;
    margin-top: 5px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    margin-bottom: 25px;
  }
  